input {
    background-color:rgb(235, 238, 240);
    border-radius: 10px;
    border: 1px solid #650003;
    height: 25px; width: 200px;

}

#spelinnehåll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#input_2 {
    opacity: 0;
    transition: opacity 2s ease;
    visibility: hidden;
}

#input_button_1 {
    opacity: 1;
    transition: opacity 1s ease;
}

