#contentLeaderbord {
    background-color: azure;
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.userDiv {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    align-items: center;
    width: 400px;
    border-radius: 10px;
    padding: 10px 0px;
}

.setWidth {
    width: 70px;
}

.placement {
    background-color: #8D0004;
}