audio {
    margin: auto auto;
}

#spelinnehåll h2 {
    animation: fadeIn 5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#spelinnehåll {
    margin-top: 50%
}

#next_page {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
    text-align: center;
}

#next_page.synlig {
    opacity: 1;
}

#buttonDIV {
    display: flex;
    justify-content: end;
    margin-top: 60px;
    padding-right: 44px;
}