#beginGame {
    padding: 10px;
    font-size: 20px;
}

#create_button {
    width: 180px;
}

#createButtonDiv {
    text-align: right;
    margin-top: 25px;
}

#imageUpload {
    display: none;
}

input[type="text"],
input[type="password"] {
    border-radius: 5px;
    border: 1px solid black;
    height: 20px;
}

label {
    text-align: left;
}

#labels {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#nr2Lable {
    font-size: 12px;
}

#members {
    height: 80px;
}

#registerDIV {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


#thePic {
    width: 300px;
    height: 250px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

#thePic:hover {
    border-color: #333;
}

.user_credentials {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user_credentialsPassword {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}