#beginGame {
    padding: 10px;
    font-size: 20px;
}

label {
    text-align: left;
}

#registerDIV {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.user_credentials {
    display: flex;
    justify-content: space-between;
}

.user_credentialsPassword {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}